.sidebar-con{
      background-color:#e5e5e5;
}
.sidebar-header {
  display: flex;
  align-items: center;        /* vertical center */
  justify-content: space-between; /* title left, button right */
  padding: 14px;
  border-bottom: 1px solid #bcb5b5;
  background: linear-gradient(90deg, #5b2dc5, #4b1bbd)  
}

.menu-btn {
  background: transparent;
  border: 1px solid #ccc;
  color: #fff;
  font-size: 22px;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  /* margin-top: 15px; */
  display: flex;              /* center icon */
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* }
.slide-right-to-left {
  animation: slideRTL 1.2s ease-in-out infinite alternate;
}

@keyframes slideRTL {
  from {
    transform: translateX(300px);
    opacity: 0.7;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
} */

