.signin{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}
.signin-container{
  border: 1px solid;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px gray;
  background: rgb(3, 18, 50);
  width: 450px;
  height: 550px;
}
.signin-container h2,p{
  text-align: center;
   margin-top: 20px;
}
.signin-container input{
  background-color: white;
}
#account{
  text-align: center;
}
.element{
  padding: 20px;
}
#button{
  display: flex;
  justify-content: center;
  align-items: center;
}